html, body {
    background-color: #343640;
    height: 100%;
}

html, body, div, a, form {
    padding: 0;
    margin: 0;
}

#content {
    margin: 0 auto;
    width: 95%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.content-panel {
    border-radius: 6px;
    margin: 30px 0;
    overflow: hidden;
    border-collapse: separate;
    box-sizing: border-box;
}

.content-panel > .text {
    padding: 1em 20px 1.5em;
}

nav > div, nav > ul > li, .query-description > div {
    background-color: #1a1b20;
    color: #91949d;
}

nav, .query-description, .ligand-description {
    width: 255px;
}

.structure-description {
    width: 540px;
}

.ngl-instance {
    padding: 0;
    width: 100%;
}

.ligand-description .ngl-instance {
    height: 255px;
    width: 255px;
}

.structure-description .ngl-instance {
    height: 540px;
    width: 540px;
}

.ligand-description, .structure-description {
    background-color: #ffffff;
}

.ligand-description > h1, .structure-description > h1 {
    color: #1a1c21;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    display: block;
}

li {
    display: list-item;
    position: relative;
    margin-top: 1px;
}

li > a, li > span {
    display: block;
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    color: #ffffff;
}

form > input {
    color: #ffffff;
}

li:hover, li.active {
    background-color: #f64c3f !important;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

a, a:active, a:hover, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.highlight-color {
    color: #f64c3f;
}

.neutral-color {
    color: #ffffff;
}

.highlight-background {
    background-color: #f64c3f;
}

.neutral-background {
    background-color: #ffffff;
}

.highlight-border {
    border-color: #f64c3f;
}

.highlight-border {
    border-color: #ffffff;
}

form {
    display: inline-block;
}

input, input:focus {
    background: 0;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    font-family: 'PT Sans';
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none 0;
}
